<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Envirogreen School of Technology</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}
<div class="about_body">
    
<br>
<br>
<br>
<br>
<div class="Global_H2_phar_text Section1About">
    <p>History of Envirogreen School of Technology</p>
</div>

<div class="Section2About">
        <img src="{{ url_for('static', filename='images/President.jpg') }}" alt="PresidentImage" class="PresidentImage">
        <div class="Global_phar_text">
            <p>"I started school from family leisure 
                then it became a training school thru TESDA...
                then a high school, and now college. 
                By God's grace and strong determination, 
                we made these things possible..."
            </p>
        </div>
        <div class="position">
            <p>Engr. Marcelina G. Supsup</p>
            <p>EVEFI President</p>
        </div>
</div>
<br>
<div class="Global_phar_text">
    <p>It all began with a simple but earnest desire to help family, communities, and the future generation.</p>
</div>
<div class="Global_phar_text">
<p>The Envirogreen Educational Village Foundation, Inc. was inaugurated on August 18, 2017. It began as a school 
    that offers TESDA programs in light of the agency's mandate to empower and make people and communities productive 
    through excellent training programs and services. As a TESDA partner institution, within the first three years of 
    its establishment, EVEFI was accredited to offer the following programs by the issuance of Certification of TVET 
    Program Registration (CTPR):</p>
</div>
<br>
<div class="row1">
    <div class="Section3AboutLeft">
        <p>Organic Agriculture Production NCII</p>
        <p>Pest Management (Vegetables) NCII</p>
        <p>Agro-entrepreneurship NCII</p>
        <p>Production of High-Quality Inbred Rice</p>
        <p>and Seed Certification and Farm Mechanization</p>
    </div>
    <div class="Section3AboutRight">
        <p>(October 13, 2017)</p>
        <p>(September 13, 2018)</p>
        <p>(July 17, 2019)</p>
        <p>(February 2, 2020)</p>
        </div>
</div>
<br>
<div class="Global_phar_text">
    <p>Unique in the set-up is the accreditation of the Mobile Training Program (MTP) in Organic Agriculture 
        Production NCII, Agricultural Crops Production NCII, Pest Management (Vegetables) NCII.</p>
</div>
<div class="Global_phar_text">
    <p>EVEFI is also a TESDA-accredited Assessment Center in the region, with the following qualifications:</p>
</div>
<br>
<div class="row1">
    <div class="Section3AboutLeft">
        <p>Agricultural Crops Production NCII</p>
        <p>Aquaculture NCII</p>
        <p>Organic Agriculture Production NCII</p>
        <p>Pest Management (Vegetables) NCII</p>
        <p>Agro-entrepreneurship NCII, NCIII, and NCIV</p>
    </div>
    <div class="Section3AboutRight">
        <p>(September 22, 2017)</p>
        <p>(November 29, 2017)</p>
        <p>(December 13, 2017)</p>
        <p>(September 26, 2018)</p>
        <p>(March 21, 2018)</p>
    </div>
</div>
<br>
<div class="Global_phar_text">
    <p>It is worth mentioning that the school had already trained 1,650 Senior High School students from 47 schools 
        in Region XII and some areas in Region XI through the Joint Delivery Voucher Program (JDVP) initiative of the 
        Department of Education (DepEd).</p>
</div>
<div class="Global_phar_text">
    <p>In 2020, EVEFI applied for government permits to offer the Senior High School and Bachelor of Agricultural 
        Technology Programs from both the Department of Education (DepEd), and the Commission on Higher Education 
        (CHED). There are two tracks offered for the Senior High School Program namely the Academic and TVL tracks. 
        For the Academic track, two strands are offered, the Accounting, Business, and Management strand, and the 
        Humanities and Social Sciences strand. For the TVL track, on the other hand, Agri-Fishery Arts, and Home 
        Economics strands. For the Agri Fishery Arts, Agricultural Crops Production NCII and Pest Management 
        (Vegetables) NCII are offered while Local Guiding Services NCII and Tourism Management NCII are offered to 
        students.</p>
</div>
<div class="Global_phar_text">
    <p>Additionally, along with the institution’s application for government permits for its B.A.T. program, the 
        school was registered to do business under the name Envirogreen School of Technology.</p>
</div>
<div class="Global_phar_text">
    <p>In September 2022, Envirogreen was granted temporary permit to offer 2nd level Bachelor of Science in 
        Agriculture (BSA) in lieu of the BAT program which was abolished by the CHED. Two more programs are also 
        offered by the school namely the Bachelor of Management Accounting (BSMA) and Bachelor of Technical-Vocational 
        Teacher Education (BTVTEd).</p>
</div>
<div class="Global_phar_text">
    <p>Envirogreen was not only a school that offers TESDA Scholarship Programs. It was, and still is, TESDA’s partner 
        in developing and honing marketable skills among potential scholars from the communities within Region XII.</p>
</div>
<div class="Global_phar_text Section5About">
    <p>At ENVIROGREEN, we believe in
        TEACHING A MAN HOW TO FISH
        to FEED HIM for a LIFETIME…</p>
</div>
<div class="Global_phar_text Section5About">
    <p>PEOPLE EMPOWERMENT is our TRUE philosophy.</p>
</div>
<div class="Global_phar_text">
    <p>And as GOD wills, Envirogreen will yet reach the highest heights of successful educational service and institutional 
        growth and development very soon. </p>
</div>


<br><br>
</div>
{% endblock  %}
</body>
</html>

