<!-- Section 5 ----------------------------------------------------->
<div class="section5_row_style">
    <div class="row">
      <div class="Section5_leftcolumn">
        <!--  Experement ----------------------------------------------------->
  
  
            <div class="row Section5_item1">
                <p>ADMINISTRATORS</p>
            </div>
            <div class="row Section5_item2">
                <div class="Section5_item2_leftcolumn Global_Center_Text">
                  <p>item 2 left column</p>
                </div>
                <div class="Section5_item2_rightcolumn Global_Center_Text">
                    <p>item 2 right column</p>
                </div>
            </div>
            <div class="row Section5_item3">
                <div class="Section5_item3_leftcolumn Global_Center_Text">
                  <p>item 3 left column</p>
                </div>
                <div class="Section5_item3_rightcolumn Global_Center_Text">
                    <p>item 3 right column</p>
                </div>
            </div>
  
        
  
        <!--  End of Experement ----------------------------------------------------->
      </div>
      <div class="Section5_rightcolumn">
        <div class="Global_Center_Text">
          <h2>About</h2>
          <div class="Global_phar_textV2">
            <p>The Envirogreen Educational Village Foundation, Inc.
              was inaugurated on August 18, 2017. It began as a school that offers TESDA 
              programs in light of the agency’s mandate to empower and make people and 
              communities productive through excellent trainings programs and services.
            </p>
        </div>
          <br>
          <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4717.154896182161!2d125.22155378837401!3d6.179100425703964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32f77623832f1411%3A0x81106bc5f69ec370!2sEnvirogreen%20Village%20Educational%20Foundation%20Inc.!5e0!3m2!1sen!2sph!4v1670291402926!5m2!1sen!2sph" 
                width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <hr>
        <p>Copyright &copy; 2022 All Rights Reserved by
          <a href="#">ENVIROGREEN SCHOOL OF TECHNOLOGY</a>.
        </p>
      </div>
    </div>
  </div>
  <!-- End Section 5 ----------------------------------------------------->